-# SPDX-FileCopyrightText: Copyright (c) 2016-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%p
  %a{href:'/'}
    %img.logo{src:'https://avatars2.githubusercontent.com/u/24456188'}
%p
  - if defined? user
    = "@#{user[:login]}"
    = '|'
    %a{href: '/logout'}
      Logout
  - else
    %a{href: login_link}
      Login
%p
  %a{href: "/p?name=#{repo}"}
    = repo
