= Haml::Engine.new(File.read('views/_header.haml')).render(Object.new, local_assigns)

%p
  This is a single entry in the log. All entries have unique
  mnemo "tags", in order to prevent duplicate events from
  happening.
%p
  Tag:
  = item['tag']
%p
  Time:
  = Time.at(item['time']).iso8601
%p
  Details:
  = item['text']

= Haml::Engine.new(File.read('views/_footer.haml')).render(Object.new, local_assigns)
