%p
  %a{href:'/'}
    %img.logo{src:'https://avatars2.githubusercontent.com/u/24456188'}
%p
  - if defined? user
    = "@#{user[:login]}"
    = '|'
    %a{href: '/logout'}
      Logout
  - else
    %a{href: login_link}
      Login
%p
  %a{href: "/p?name=#{repo}"}
    = repo
%p
  This log is here for safety reason. Every time
  0pdd is touching your GitHub repository, this log gets
  a unique record. Later, if 0pdd will try to submit a similar
  issue by mistake, this log will prevent that from happening,
  because all records here must be unique.
%p
  Since
  = Time.at(since).iso8601
- events = log.list(since)
- if events.empty?
  %p
    There are no events yet.
- else
  - last = nil
  - events.each do |e|
    - last = e['time'].to_i
    %p
      = "#{Time.at(e['time']).iso8601}: #{e['text']}"
      - if defined?(user) && user[:login] == 'yegor256'
        %a{href: "/log-delete?name=#{repo}&time=#{e['time'].to_i}&tag=#{e['tag']}", onclick: "return confirm('You are going to delete the \"#{e['tag']}\" event. Normally you should not do this. Are you sure?')"}
          delete
  - if last
    %p
      %a{href: "/log?name=#{repo}&since=#{last}"}
        = 'more'
%p
  ='--'
%p
  =ver
