%p
  %a{href:'/'}
    %img.logo{src:'https://avatars2.githubusercontent.com/u/24456188'}
%p
  %a{href: "/p?name=#{repo}"}
    = repo
%p
  Since
  = Time.at(since).iso8601
- events = log.list(since)
- if events.empty?
  %p
    There are no events yet.
- else
  - last = nil
  - events.each do |e|
    - last = e['time'].to_i
    %p
      = "#{Time.at(e['time']).iso8601}: #{e['text']}"
      %a{href: "/log-delete?name=#{repo}&time=#{e['time']}&tag=#{e['tag']}"}
  - if last
    %p
      %a{href: "/log?name=#{repo}&since=#{last}"}
        = 'more'
%p
  ='--'
%p
  =ver
