-# SPDX-FileCopyrightText: Copyright (c) 2016-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

= Haml::Engine.new(File.read('views/_header.haml')).render(Object.new, local_assigns)

%p
  This log is here for safety reason. Every time
  0pdd is touching your GitHub repository, this log gets
  a unique record. Later, if 0pdd will try to submit a similar
  issue by mistake, this log will prevent that from happening,
  because all records here must be unique.
%p
  Since
  = Time.at(since).iso8601
- log_list = log.list(since)
- events = log_list.items
- if events.empty?
  %p
    There are no events yet.
- else
  - next_page = nil
  - events.each do |e|
    - next_page = e['time'].to_i
    %p
      %a{href:url("/log-item?repo=#{repo}&tag=#{e['tag']}")}>= Time.at(e['time']).iso8601
      = ':'
      = e['text']
      - if defined?(user) && user[:login] == 'yegor256'
        %a{href:url("/log-delete?name=#{repo}&time=#{e['time'].to_i}&tag=#{e['tag']}"), onclick: "return confirm('You are going to delete the \"#{e['tag']}\" event. Normally you should not do this. Are you sure?')"}
          delete
  - unless log_list.last_evaluated_key.nil?
    %p
      %a{href:url("/log?name=#{repo}&since=#{next_page}")}
        = 'more'

= Haml::Engine.new(File.read('views/_footer.haml')).render(Object.new, local_assigns)
