%p
  %a{:href => '/'}
    %img.logo{:src => 'https://avatars2.githubusercontent.com/u/24456188'}
%p
  = repo
- events = log.list(since)
- if events.empty?
  %p
    There are no events yet.
- else
  %pre
    - last = nil
    - events do |e|
      - last = e['time']
      = Time.at(e['time'])
      = e['text']
      = "\n"
  - if last
    %p
      %a{href: "/log?name=#{repo}&since=#{last}"}
        = 'more'
