=File.basename(p.xpath('file').text):\
#{puzzle.xpath('lines').text}: #{title}",
      "The puzzle `#{puzzle.xpath('id').text}` \
in [`#{puzzle.xpath('file').text}`](\
https://github.com/#{@repo}/blob/master/#{puzzle.xpath('file').text}) \
(lines #{puzzle.xpath('lines').text}) \
has to be resolved: #{puzzle.xpath('body').text}\
\n\n\
The puzzle was created by #{puzzle.xpath('author').text} on \
#{Time.parse(puzzle.xpath('time').text).strftime('%d-%b-%y')}. \
\n\n\
Estimate: #{puzzle.xpath('estimate').text} minutes, \
role: #{puzzle.xpath('role').text}.\
\n\n\
If you have any technical questions, don't ask me, \
submit new tickets instead. The task will be \"done\" when \
the problem is fixed and the text of the puzzle is \
_removed_ from the source code. Here is more about \
[PDD](http://www.yegor256.com/2009/03/04/pdd.html) and
[about me](http://www.yegor256.com/2017/04/05/pdd-in-action.html)."
